<h6>My Cart<span>({{!-- {{itemCount}}  --}}item)</span></h6>
{{# if cartItems }}
    <div class="cart page">
        <ul class="list-group">
            {{#each cartItems }}
            <li class="list-group-item">
            <img src="{{cartItems.img}}" alt="" />

                <div>
                    <strong>{{ cartItems.name }}</strong><br/>
                    <div>
                        <button>+</button>
                        <span class="">{{ cartItems.count }}</span>
                        <button>-</button>
                   </div>
    </div>
    </li>
     {{/each}}
    </ul></div>
{{ else }}
    Your shopping cart is empty.
{{/if}}