<section>
    <div id="sliderContainer">
        {{#each sliderContent}}
        <div class="slider">
            <img data-index="{{id}}" class="slide" alt="{{bannerImageAlt}}" src="{{bannerImageUrl}}" />
        </div>
        {{/each}}
        <a id="arrow-left" href="#">PREV</a>
        <a id="arrow-right" href="#">NEXT</a>
        <div class="dots-wrapper">
            {{#each sliderContent}}
            <span class="dot"></span>
            {{/each}}
        </div>
    </div>
</section>
<section>
    {{#each categoryContent}}
    <div class="categoryItem">
        <img data-index="{{id}}" class="category" alt="{{key}}" src="{{imageUrl}}" />
        <div>
            <span>{{name}}</span>
            <span>{{description}}</span>
            <span>Explore {{key}}</span>
        </div>
    </div>
    {{/each}}
</section>