<section>
    <div class="slider-container">
        {{#each sliderContent}}
        <div tabindex="0" class="slider-container__image-container image-container--js">
            <img data-index="{{id}}" class="slider-container__image-container__image" alt="{{bannerImageAlt}}"
                src="{{bannerImageUrl}}" />
        </div>
        {{/each}}
        <a class="slider-container__nav-links" id="arrow-left" href="#">{{constants.PREV_LABEL}}</a>
        <a class="slider-container__nav-links" id="arrow-right" href="#">{{constants.NEXT_LABEL}}</a>
        <div class="slider-container__dots-wrapper">
            {{#each sliderContent}}
            <span tabindex="0" class="slider-container__dots-wrapper__dot dot--js"></span>
            {{/each}}
        </div>
    </div>
</section>
<section>
    {{#each categoryContent }}
    <div  tabindex="0" class="category-list-item">
        <img data-index="{{id}}" class="category-list-item__image" alt="{{key}}" src="{{imageUrl}}" />
        <div class="category-list-item__description">
            <span>{{name}}</span>
            <span>{{description}}</span>
            <a href="/products">Explore {{key}}</a>
        </div>
    </div>
    {{/each}}
</section>