<section>
    <div class="slider-container">
        {{#each sliderContent}}
        <div tabindex="0" class="slider-container__image-container image-container--js">
            <img data-index="{{id}}" class="slider-container__image-container__image" alt="{{bannerImageAlt}}"
                src="{{bannerImageUrl}}" />
        </div>
        {{/each}}
        <button class="slider-container__nav-links" id="arrow-left">{{constants.PREV_LABEL}}</button>
        <button class="slider-container__nav-links" id="arrow-right">{{constants.NEXT_LABEL}}</button>
        <div class="slider-container__dots-wrapper">
            {{#each sliderContent}}
            <button class="slider-container__dots-wrapper__dot dot--js"></button>
            {{/each}}
        </div>
    </div>
</section>
<section>
    {{#each categoryContent }}
    <div class="category-list-item">
        <img data-index="{{id}}" class="category-list-item__image" alt="{{key}}" src="{{imageUrl}}" />
        <div class="category-list-item__description">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <a href="/products">Explore {{key}}</a>
        </div>
    </div>
    {{/each}}
</section>