<div id="productContainer">
    <aside id="filterContainer">
        {{#each categoryContent}}
        <div>
            <a class="filter-category" href="#" id={{id}}>{{name}}</a>
        </div>
        {{/each}}
    </aside>
    <section>
        <select name="dropdown" label="dropdown" id="filterContainerDropdown" >
            {{#each categoryContent}}
            <option label="{{name}}" class="filtercategory" value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        {{#each productContent}}
        <div class="product {{category}}">
            <h4>{{name}}</h4>
            <div class="desc">
                <img src="{{imageURL}}" alt="image" />
                <p>{{description}}</p>
            </div>
            <div class="priceDesc">
                <span>MRP Rs.{{price}}</span>
                <button id="{{this.id}}" class="addToCart" >Buy Now <span>@Rs.{{price}}</span></button>
            </div>
        </div>
        {{/each}}
    </section>
</div>