<div id="product-container--js" class="product-container">
    <aside id="filter-container--js" class="product-container__aside">
        {{#each categoryContent}}
        <div class="product-container__aside__aside-elem">
            <a class="filter-category--js" href="#" id={{id}}>{{name}}</a>
        </div>
        {{/each}}
    </aside>
    <section class="product-container__section">
        <select name="dropdown" label="dropdown" id="filter-container-dd--js">
            {{#each categoryContent}}
            <option label="{{name}}" value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        {{#each productContent}}
        <div class="product-container__section__product product--js {{category}}">
            <h4>{{name}}</h4>
            <div class="product-container__section__product__desc">
                <img src="{{imageURL}}" alt="image" />
                <p>{{description}}</p>
            </div>
            <div class="product-container__section__product__price-desc">
                <span>MRP Rs.{{price}}</span>
                <button id="{{this.id}}" class="addToCart">Buy Now <span> @Rs.{{price}}</span></button>
            </div>
        </div>
        {{/each}}
    </section>
</div>