<div class="loginContainer">
    <div class="loginTextContainer">
        <h1>{{constants.SIGN_UP_LABEL}}</h1>
        <span>{{constants.SIGN_UP_BRANDING_LABEL}}</span>
    </div>
    <form method="post" action="#" class="contact-form">
        <div id="fNameContainer" class="inputContainer">
            <label for="fName">{{constants.FIRST_NAME_LABEL}}</label>
            <input type="text" id="fName" placeholder="" required />
        </div>

        <div id="lNameContainer" class="inputContainer">
            <label for="lName">{{constants.LAST_NAME_LABEL}}</label>
            <input type="text" id="lName" placeholder="" required />
        </div>

        <div id="emailContainer" class="inputContainer">
            <label for="email">{{constants.EMAIL_LABEL}}</label>
            <input type="email" id="email" placeholder="" required />
        </div>

        <div id="pswdContainer" class="inputContainer">
            <label for="password">{{constants.PASSWORD_LABEL}}</label>
            <input type="password" id="password" placeholder=""
                required />
        </div>

        <div id="cnfmPswdContainer" class="inputContainer">
            <label for="cnfmPassword">{{constants.CNFM_PASSWORD_LABEL}}</label>
            <input type="password" id="cnfmPassword" placeholder=""
                required />
        </div>

        <button id='submitButton' type="submit">{{constants.SIGN_UP_LABEL}}</button>
    </form>
</div>