<header class="header_container">
  <img tabindex="0" src="/static/images/logo.png" alt="Brand logo">
  <div class='wrapper'>
    <nav>
      <a href="/home">{{constants.HOME_LABEL}}</a>
      <a href="/products">{{constants.PRODUCTS_LABEL}}</a>
    </nav>
    <div class='rightItems'>
      <div class='loginItems'>
        <a href="/login">{{constants.SIGN_IN_LABEL}}</a>
        <a href="/register">{{constants.REGISTER_LABEL}}</a>
      </div>
      <div tabindex="0" class='cart' id="cart--js">
        <img src="/static/images/cart.svg" alt="Brand logo">
        {{# if cart.totalItems}}
        <span><span id="itemCount">{{cart.totalItems}} </span> {{constants.ITEM_LABEL}}</span>
        {{ else }}
        <span><span id="itemCount">0 </span> {{constants.ITEM_LABEL}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</header>

<div id="overlay--js" class="overlay">
  <div class="cartContainer" id="cartContainer--js">
    
  </div>
</div>